// TIP: use ${baseDir} to refer to the directory where main.nf is located
// You can also use full paths instead  

params {    
    // ---- required settings ----
    input     = "${baseDir}/input"
    output    = "${baseDir}/output"
    index     = "${baseDir}/index"
    suffix    = "_R"
    extension = ".fastq.gz"

    // ---- optional arguments ----
    create_index = false
    ref_gen      = "${baseDir}/ref_gen"
    map_size     = 100

    // ---- notification (TODO) ----
    maildir  = ""
    mailpass = ""

}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {
    standard {

        process {

            executor.name = 'local'

            // container images
            withName: 'fastqc' {
                container = 'staphb/fastqc:latest'
            }

            withName: 'multiqc' {
                container = 'ewels/multiqc:latest'
            }
            
            withName: 'demultiplex' {
                container = 'ahr1/demultiplex' // python 3.10
            }
            
            withName: 'STAR_ALIGN|STAR_INDEX' {
                container = 'ahr1/staraligner'
            }

            withName: 'extract_UMI|dedup|BAM_INDEX|featureCounts' {
                container = 'ahr1/subread'
            }
        }
        docker.enabled = true
        singularity.enabled = false
    }

    cluster {

        executor {
            name = 'slurm'
            queueSize = 50 // The number of tasks the executor will handle in a parallel manner
            submitRateLimit = '10sec' // Determines the max rate of job submission per time unit, for example '10sec' (10 jobs per second)
            // pollInterval = Determines how often to check for process termination. Default varies for each executor.
        }

        process {
            // ----- container images -----

            withName: 'fastqc' {
                container = 'staphb/fastqc:latest'
            }

            withName: 'multiqc' {
                container = 'ewels/multiqc:latest'
            }
            
            withName: 'demultiplex' {
                container = 'ahr1/demultiplex' // python 3.10
            }
            
            withName: 'STAR_ALIGN|STAR_INDEX' {
                container = 'ahr1/staraligner:2.7.10b' // python 3.10
            }

            withName: 'extract_UMI|dedup|BAM_INDEX|featureCounts' {
                container = 'ahr1/subread'
            }

            // ----- resource allocation -----

            withLabel: 'process_low' {
                cpus   = 2
                memory = '2GB'
            }

            withLabel: 'process_medium' {
                cpus   = 2
                memory = '8GB'
            }

            withLabel: 'process_high' {
                cpus   = 12
                memory = '8GB'
            }

            withLabel: 'process_max' {
                cpus   = 12
                memory = '40GB'
            }
        }

        singularity {
            enabled     = true
            autoMounts  = true
            cacheDir    = "${baseDir}/containers"
        }

        docker.enabled = false
    }
}

cleanup = true

// reporting and results

report {
    enabled     = true
    file        = "${params.output}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output}/reports/timeline_report.html"
    overwrite   = true
}

manifest {
    name            = 'a-hr/lexogen'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/illumina2nanopore'
    description     = 'A pipeline to demultiplex, map, deduplicate and count target RNA sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0.0'
}