params {    
    // ---- Input Options ----
    csv_dir     = "${baseDir}/inputs/csvs"
    fastq_dir   = "${baseDir}/inputs/fastqs"
    index_dir   = "${baseDir}/index"
    suffix      = "_R"
    extension   = ".fastq.gz"

    // ---- Output Options ----
    get_bams     = true
    save_index   = false
    out_dir  = "${baseDir}/output"

    // ---- Sample Options ----
    umi_length  = 6

    // ---- Advanced Options ----
    create_index = false
    ref_gen      = "${baseDir}/ref_gen"
    map_size     = 100
    sharedMemory = false
}

// -------- DONT EDIT BELOW THIS LINE --------

profiles {
    local_docker {
        includeConfig 'confs/local_docker.config'
    }

    local_singularity {
        includeConfig 'confs/local_singularity.config'
    }

    cluster {
        includeConfig 'confs/cluster.config'
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

/*          reporting and results            */

report {
    enabled     = true
    file        = "${params.out_dir}/execution/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.out_dir}/execution/timeline_report.html"
    overwrite   = true
}


manifest {
    name            = 'a-hr/lexogen_pipeline'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/lexogen_pipeline'
    description     = 'A pipeline to demultiplex, align, deduplicate and count transcripts on targeted RNA sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}
