/*          default input parameters             */

params {    
    // ---- required settings ----
    csv_dir     = "${baseDir}/inputs"
    fastq_dir   = "${baseDir}/inputs"
    output_dir  = "${baseDir}/output"
    index_dir   = "${baseDir}/index"
    suffix      = "_R"
    extension   = ".fastq.gz"

    // ---- optional arguments ----
    get_bams     = false
    create_index = false
    save_index   = false
    ref_gen      = "${baseDir}/ref_gen"
    map_size     = 100

    // ---- notification (TODO) ----
    maildir  = ""
    mailpass = ""

}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {
    local_docker {
        includeConfig 'confs/local_docker.config'
    }

    local_singularity {
        includeConfig 'confs/local_singularity.config'
    }

    cluster {
        includeConfig 'confs/cluster.config'
    }
}

// cleanup = true

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

/*          reporting and results            */

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

dag {
    enabled = true
    file = 'lexogen_dag.mmd'
}

manifest {
    name            = 'a-hr/lexogen'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/illumina2nanopore'
    description     = 'A pipeline to demultiplex, map, deduplicate and count target RNA sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}